{% extends 'base.html.twig' %}

{% block title %}Modifier mes informations{% endblock %}

{% block body %}

    <section id="edit-profile" class="text-light col-md-4 mb-5 mt-4 pt-2 pb-5 mx-auto px-4">

        {{ form_start(form) }}

        {{ form_row(form.email) }}
        {{ form_row(form.phone) }}

        <div class="d-flex align-items-center mt-5">
            {{ form_row(form.submit) }}
            <div class="mb-3 ms-4">
                <a href="{{ path('app_account') }}" class="text-light">Annuler</a>
            </div>
        </div>

        {{ form_end(form) }}

    </section>

{% endblock %}
