<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}&nbsp;|&nbsp;Barbershop</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/all.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/base.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/home.css') }}">
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/js/all.js') }}"></script>
    {% endblock %}
</head>
<body>

{{ include('base/nav.html.twig') }}

{% if title is defined %}

    <div class="title-page pt-5">
        <div class="title text-center h2 text-light mt-5 text-uppercase">{{ title }}</div>
        <div class="separator col-4 bg-primary mx-auto mt-4" style="height: 1px"></div>
    </div>

{% endif %}

{% block body %}{% endblock %}

{{ include('base/footer.html.twig') }}

</body>
</html>
